@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    background-color: $light-grayish-blue-1;
}

a{
    text-decoration: none;
    color: $blue;
    font-weight: 700;
    &:visited{
        color: $grayish-blue;
    }
}